body {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

.cellOn {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, .5);
}

.cellOff {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

/* .grid {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1.5px;
} */

.grid>* {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
}
